<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA2OMpv6zCYkuWlawjHKHsTQAAAAACAAAAAAAQZgAAAAEAACAAAABUJJeCcNdhdDufp2E7NkWOYjaY5wjVkSVxmJUvrKWYEwAAAAAOgAAAAAIAACAAAACiInPE1IqcOInn/vt7meoyuJKigZ+fsphe+vULCB6T4zAAAAAWmbrWdaSdbLKUjvEK9K/u9KbjRhlkVpZs9fLab44GC5EJ9tNh55mCZeWV6/TUaKtAAAAAKmhQh260dyk8gm/ZByPvnmaVhH3fL5WEfhrUOJvyCwzgotsimGMN0Cb4zb3LbKxlXPtQKjsWctk2ozgc1TtF6A==" />
  </apikeys>
</configuration>